#musicDefaultThumb
{
	padding: 5px;
	//
	.thumbImg
	{
		background-color: $appBg2;
		position: relative;
		height: 200px;
		overflow-y: hidden;
		img
		{
			width: 100%;
			object-fit: cover;

		}
		.thumbOverlay
		{
			color: white;
			background-color: rgba(0,0,0, 0.5);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: .5s ease;
			a
			{
				border: 2px solid $logoGrey;
				border-radius: 60px;
				width: 60px;
				height: 60px;
				text-align: center;
				cursor: pointer;
				.fa
				{
					font-size:25px;
					line-height: 55px;
				}
			}
			a:hover
			{
				border: 2px solid $logoWhite;
			}
		}
	}
	.thumbImg:hover .thumbOverlay
	{
  		opacity: 1;
	}
	.thumFooter
	{
		background-color: $logoGrey;
		padding: 5px;
		height: 90px;
		span{
			display: block;
		}
		span.thumbTitle
		{
			color: white;
			font-size: 1.2rem;
		}

		span.thumbShort
		{

		}
	}
}
/**
 * top menu
 */
#musicTopMenu
{
	height: 50px;
	//
	.nav
	{
		a
		{
			margin-right: 10px;
		}
	}
}
/**
 * area do form para fazer as pesquisas
 */
#musicSearchArea
{
	padding:10px 0;
	height: 100px;
	@include inputSearchWrap;
}
/**
 * resultados das pesquisas
 */
#musicSearchResults
{
	padding:20px 0;
}
/**
 * mensagem de erro
 */
#musicSearchResultsError
{
	display: none;
	flex: 1;
	flex-direction: column;
	position: relative;
	h1
	{
		display: block;
		color: $logoGrey
	}
	.fa
	{
		font-size: 10rem;
	}
	.mensagem
	{
		display: block;
		text-align: center;
		color: $logoWhite;
	}
}