
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "_variables";

//import various scss
@import "_login";
@import "_sidebar";
@import "_searchSidebar";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "node_modules/bootstrap/scss/bootstrap";
//

/**
 * some defaults
 */
html,
body
{
	min-height: 100%;
	height: 100%;
	font-size: 100%;
	background-color: $logoWhite;
	overflow-x: hidden;
}
/**
 * headers
 */
h1
{
	font-weight: bold;
	font-size: 4rem;
	margin: 1rem;
}

h2
{
	font-size: 2rem;
	margin: 1rem;
}
/**
 * forms
 */
input
{
	padding: 0;
	height: 2rem;
	line-height: 2rem;
	color: $logoGrey;
}
/**
 * lists
 */
ul
{
	margin: 0;
	padding: 0;
	//
	li
	{
		list-style: none;
	}
	//
}
/**
 * buttons
 */
a,
button
{
	cursor: pointer;
	color: $logoWhite;
}

a:hover,
a:focus
{
	color: $logoRed;
	text-decoration: none;
}
.btn-primary {
    background: $logoGrey;
    color: $logoWhite;
    border: 2px solid $logoGrey;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $logoRed;
    border: 2px solid $logoRed;
}

.btn-primary:active, .btn-primary.active {
    background: $appBg;
    box-shadow: none;
}
/**
 * appDefault
 */
.appWrapper
{
	min-height: 100%;
	width: 100%;
	display: flex;
	//
	#mainMenu
	{
		background-color: $logoGrey;
		align-self: stretch;
		width: $widthSideBar;
		min-width: $widthSideBar;
	}
	//
	#searchSideBar
	{
		width: $searchSideBarWidth;
		min-width: $searchSideBarWidth;
		align-self: stretch;
		border: 1px solid $logoGrey;
        -webkit-box-shadow: 2px 0 5px -2px $appBg;
        box-shadow: 2px 0 5px -2px $appBg;
		background-color: $appBg2;
		transition-property: all;
		transition-duration: 1s;
		transition-timing-function: cubic-bezier(0.42,0,1,2);
		position: relative;
		z-index: 100;
		color: $logoWhite;
	}
	#searchSideBar.closed
	{
		width: 0px;
		display: none;
	}
	//
	#mainContent
	{
		background: $appBg;
		align-self: stretch;
		flex-grow: 1;
		color: $logoWhite;
		position: relative;
		z-index: 80;
	}

	#mainContentOverlay
	{
		position: absolute;
	    top:0px;
	    left:0px;
	    bottom:0px;
	    right:0px;
	    background: rgba(0,0,0,0.2);
	    display:none;
	    z-index: 90;
	}
	//
}

